{% extends "base.htm" %}

{% block title %}Sales History{% endblock %}
{% block heading %}Sales History{% endblock %}

{% block content %}
<p>
<ul>
{% for purchase in items %}
  {% ifnotequal purchase.status 'CREATED' %}
  <li><form method='POST' action='/deals/{{ purchase.key }}/' >{{ purchase.item.title }} by {{ purchase.purchaser }} on {{ purchase.created }}: {{ purchase.status }}<input type='submit' value='approve' /></form></li>
  {% endifnotequal %}
{% endfor %}
</ul>
</p>
<p>
<a href="/sell">Sell an item</a>
</p>
{% endblock %}
